.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px); 
    grid-gap: 5px;
    margin: 4x;
  }
  .box {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #000000;
  }
  
  .highlighted {
    background-color: red;
    color: #ffffff;
    animation: blinking 1s infinite;
  }
  
  @keyframes blinking {
    0% {
      background-color: red;
    }
    50% {
      background-color: orange;
    }
    100% {
      background-color: red;
    }
  }
  
  .input-section {
    margin: 20px;
    text-align: center;
  }
  
  input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 100px;
  }
  

  .deckcard{
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    color: #000000;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4px;
}

.deckcard button{
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 80px;
    background-color: #dbdbdb;
}

.btnstyle{

}

.alert{
  animation: blinkingDeck 1s infinite;
  color: white;
}

.status-grid-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.popup-grid-modal{
  margin: auto;
  height: 340px;
  width: 400px;
  padding: 18px;
  border-radius: 6px;
  background-color: #433D8B;
}

.status-grid-modal h4{
  color: #ffffff;
  font-size: 18px;
}

.close-btn{
  margin-left: auto;
  cursor: pointer;
}


@keyframes blinkingDeck {
  0% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}