  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 34px); 
    grid-gap: 6px;
  }

  .box {
    width: 36px;
    height: 26px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #000000;
  }

  .grid-row {
    display: flex;
    justify-content: center;
  }
  
  .danger {
    background-color: #F84848;
    color: #ffffff;
    animation: blinking 1s infinite;
  }

  .temprise {
    background-color: #ff9a03;
    color: #ffffff;
  }

  .lowbattery {
    background-color: #ffeb32;
    color: #000000;
  }

  .deleted{
    background-color: #8f8d8d;
    color: #ffffff;
  }

  .normal {
    background-color: #7BFF6D;
    color: #000000;
  }
  
  @keyframes blinking {
    0% {
      background-color: #F84848;
    }
    50% {
      color: #000000;
      background-color: rgb(255, 255, 255);
    }
    100% {
      background-color: #F84848;
    }
  }
  
  .input-section {
    margin: 20px;
    text-align: center;
  }
  
  input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 100px;
  }
  

  .deckcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
  }
  
  .btnstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    color: black;
    margin: 2px 0;
    font-size: 14px;
  }

.alert{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2px 0;
  animation: blinkingDeck 1s infinite;
  color: white;
}

.status-grid-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.popup-grid-modal{
  margin: auto;
  height: 340px;
  width: 400px;
  padding: 18px;
  border-radius: 6px;
}

.status-grid-modal h4{
  color: #ffffff;
  font-size: 18px;
}

.close-btn{
  margin-left: auto;
  cursor: pointer;
}


@keyframes blinkingDeck {
  0% {
    background-color: red;
    color: #ffffff;
  }
  50% {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }
  100% {
    background-color: red;
    color: #ffffff;
  }
}

.deck-display-grid{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 100%;
}