.card-wrapper{
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #3F3F3F;
    margin-bottom: 30px;
    margin-right: 8px;
    border-radius: 10px;
    border: 7px solid transparent; 
}


.blinking-border {
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #3F3F3F;
    margin-bottom: 30px;
    margin-right: 8px;
    border-radius: 10px;
    border: 7px solid #e4ff4b; 
    animation: blink-border 0.5s infinite;
  }

.card-details{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card-details-nodetype{
    text-transform: capitalize;
    font-weight: 600;
}

.card-details-location{
    font-weight: 600;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 6px;
    color: #000000;
    margin: 8px 0;
}

.card-details-combined{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 600;
}

#card-details-span1 {
    display: inline-block;
    max-width: 140px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-weight: 600;
}

.battery-span{
display: flex;
align-items: center;
justify-content:center ;
}

#card-details-span2{
    font-weight: 600;
}

.card-details-circles{
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
}

#refresh{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 24px;
    margin-top: 4px;
    /* background-color: #3F3F3F; */
    /* color: #fff; */
}

#card-details-circle1{
    height: 25px;
    width: 25px;
    display: flex;
    color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #ffcaf5;
}

#card-details-circle2{
    height: 25px;
    width: 25px;
    display: flex;
    color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #ffcaf5;
}
.sum-details{
    border-radius: 10px;
    width: 200px;
    padding: 0 6px 4px 6px;
    background-color: #393939;
    color: #f4efef;
    height: 100%;
    margin-left: -25px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sum-details h4{
    margin-top: 4px;
    text-align: center;
    color:#f4efef;
}

.sum-details-combined{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#sum-details-span1 {
    font-weight: 700;
    font-size: 14px;
    width: 80%;
}

#sum-details-span2 {
    font-weight: 600;
}

.alert-details{
    color: black;
    width: 100%;
    height: 100%;
    padding: 6px 0;
    display: flex;
    justify-content: space-evenly;
}


.alert-wrapper{
    border-radius: 10px;
    width: 100%;
    background-color: #393939;
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.alert-details-combined{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

#alert-details-span1 {
    font-weight: 700;
    font-size: 14px;
}

#alert-details-span2 {
    font-weight: 600;
}

#alert-details-span3 {
   height: 20px;
   width: 20px;
   border-radius: 50%;
   margin-right: 4px;
}

.alertCircle-wrapper{
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.comm-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:500px;
}

.comm-wrapper h3{
    text-align: center;
}


.settings-table-resetbtn-wrapper{
    width: 98.5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

#btn-wrapper-table{
    margin-left: auto;
}

.settings-table-resetbtn-wrapper button {
    height: 32px;
    color: #ffffff;
    width: 150px;
    background-color: #f81111;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

#save-changes{
    height: 32px;
    color: #ffffff;
    width: 150px;
    background-color: #32bb00;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 4px;
}

/* Table styling */
.table-container {
    width: 100%;
    height: 50vh;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #3F3F3F;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    th, td {
        padding: 10px 8px;
    }
}

.total-cards-wrapper{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}

.total-cards{
    height: 70px;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.total-num{
    background-color: #3F3F3F;
    color: #fff;
    font-weight: 600;
    width: 30%;
    height: 70px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.total-label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    height: 70px;
    width: 60%;
    background-color: #3F3F3F;
    color: #fff;
    border-radius: 6px;
}

.live-clock{
    height: 40px;
    background-color: #32f02c;
    padding: 14px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

.live-clock-time{
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

.live-clock-date{
    color: #2f2e2e;
    font-size: 16px;
}

.confimation-modal{
    height: 200px;
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    background-color: #3F3F3F;
    margin: auto;
}

.confimation-modal-div{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.confimation-modal-div h6{
    font-size: 16px;
    text-align: center;
}

.confimation-modal-btn-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.confimation-modal-btn-wrapper button{
    height: 30px;
    width:80px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
  
  @keyframes blink-border {
    0% {
      border-color: #e4ff4b;
    }
    50% {
      border-color: transparent; 
    }
    100% {
      border-color: #e4ff4b;
    }
  }

  .status-card-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .status-card-modal button {
    margin-left: auto;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-modal{
    margin: auto;
    height: 240px;
    width: 300px;
    padding: 18px;
    border-radius: 6px;
    background-color: #3F3F3F;
  }

  .segment{
    height: auto;
  }

  #status-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #2f2e2e;
    height: 26px;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
  }

  #node-type-id{
    margin-top: -12%;
    padding: 0 10px;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-between;
    font-size: 18px
  }

  #sensor-name{
    display: flex;
    align-items: center;
  }

  #node-location{
    margin-top: -6%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    justify-content: space-between;
    font-size: 14px;
  }

  #node-location span{
    font-weight: 600;
  }

  #temp-battery{
    padding: 0 10px;
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    font-size: 14px;
    background-color: #f4efef;
    color: #000000;
    border-radius: 6px;
    margin: 4px 10px;
  }

  #temp-battery div{
    display: flex;
    align-items: center;
    padding: 2px 0;
  }

  #last-update{
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 14px
  }

  #last-update div {
    display: flex;
    flex-direction: column;
  }

  #refresh-alarm-btn{
    margin: 2px 0;
    display: flex;
    padding: 4px 0;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
  }

  #refresh-alarm-btn-both {
    width: auto;
    border: none;
    border: 4px solid transparent;
    border-radius: 6px;
    height: 24px;
    padding: 0 10px;
    font-size: 12px;
    background-color: #3F3F3F;
    color: #ffffff;
    cursor: pointer;
  }

  #refresh-alarm-btn-alert {
    width: auto;
    border: 4px solid #ffffff;
    border-radius: 6px;
    height: 24px;
    padding: 0 10px;
    font-size: 12px;
    background-color: #3F3F3F;
    color: #ffffff;
    animation: mute-blink-border 0.5s infinite;
    cursor: pointer;
  }

  @keyframes mute-blink-border {
    0% {
      border-color: #ffffff;
    }
    50% {
      border-color: transparent; 
    }
    100% {
      border-color: #ffffff;
    }
  }

  .dangertext{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    animation: text-blink 0.5s infinite;
  }

  .normaltext{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
  }
  
  @keyframes text-blink {
    0% {
      color: #000000;
    }
    50% {
      color: #ffffff; 
    }
    100% {
      color: #000000;
    }
  }

  .working-fine-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 250px;
    font-size: 24px;
    font-weight: 600;
  }