.card-wrapper{
    height: auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: #3F3F3F;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 7px solid transparent; 
}

.blinking-activesupp {
  height: auto;
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: #3F3F3F;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 7px solid #13741e; 
  animation: blink-activesupp 0.5s infinite;
}

.smoke-img{
  animation: blink-img 0.5s infinite;
}

@keyframes blink-img {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-border {
    height: auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: #3F3F3F;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 7px solid #e4ff4b; 
    animation: blink-border 0.5s infinite;
  }

.card-details{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card-details-nodetype{
    text-transform: capitalize;
    font-weight: 600;
}

.card-details-location{
    font-weight: 600;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 6px;
    color: #000000;
    margin: 8px 0;
}

.card-details-combined{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 600;
}

#card-details-span1 {
    display: inline-block;
    max-width: 140px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-weight: 600;
}

.battery-span{
display: flex;
align-items: center;
justify-content:center ;
}

#card-details-span2{
    font-weight: 600;
}

.card-details-circles{
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
}

#refresh{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 24px;
    margin-top: 4px;
    /* background-color: #3F3F3F; */
    /* color: #fff; */
}

#card-details-circle1{
    height: 25px;
    width: 25px;
    display: flex;
    color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #ffcaf5;
}

#card-details-circle2{
    height: 25px;
    width: 25px;
    display: flex;
    color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #ffcaf5;
}
.sum-details{
    border-radius: 10px;
    width: 200px;
    padding: 0 6px 4px 6px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-secondary);
    height: 100%;
    margin-left: -25px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sum-details h4{
    margin-top: 4px;
    text-align: center;
    color:var(--text-color);
}

.sum-details-combined{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#sum-details-span1 {
    font-weight: 700;
    font-size: 14px;
    width: 80%;
}

#sum-details-span2 {
    font-weight: 600;
}

.alert-details{
    color: black;
    width: 100%;
    height: 100%;
    padding: 6px 0;
    display: flex;
    justify-content: space-evenly;
}


.alert-wrapper{
    border-radius: 6px;
    margin-left: 3.5%;
    width: 50%;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    height: 46px;
    display: flex;
    align-items: center;
    padding: 8px 5px;
    flex-direction: column;
    justify-content: space-between;
}

.alert-label-wrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert-details-combined{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

#alert-details-span1 {
    font-weight: 700;
    font-size: 14px;
}

#alert-details-span2 {
    font-weight: 600;
}

#alert-details-span3 {
   height: 20px;
   width: 20px;
   border-radius: 50%;
   margin: 0 4px;
}

.alertCircle-wrapper{
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.comm-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    background-color: var(--bg-color-secondary);
}

.comm-wrapper h3{
    text-align: center;
}


.settings-table-resetbtn-wrapper{
    width: 98.5%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

#btn-wrapper-table{
    margin-left: auto;
}

.settings-table-resetbtn-wrapper button {
    height: 32px;
    color: #ffffff;
    width: 150px;
    background-color: #f81111;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

#save-changes{
    height: 32px;
    color: #ffffff;
    width: 150px;
    background-color: #32bb00;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 4px;
}

/* Table styling */
.table-container {
    width: 100%;
    height: 50vh;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

thead{
  position: sticky;
  z-index: 999;
  top: 0;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: var(--bg-color-table);
    color: var(--text-color);
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    th, td {
        padding: 10px 8px;
    }
}

.total-cards-wrapper{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}

.total-cards{
    height: 70px;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

.total-num{
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    font-weight: 600;
    width: 30%;
    height: 70px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.total-label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    height: 70px;
    width: 60%;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    border-radius: 6px;
}
.samplingtime{
  margin-left: 14px;
  height: 40px;
  width: auto;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
  padding: 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.samplingtime button {
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  margin-left: 20px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.samplingtime-input{
  width: 40px;
  height: 4px;
}

.live-clock{
    height: 40px;
    width: auto;
    background-color: #b7ff86;
    padding: 14px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
}

.live-clock-time{
    color: #3F3F3F;
    font-size: 24px;
    font-weight: 600;
}

.live-clock-date{
  margin-left: 6px;
    color: #2f2e2e;
    font-size: 16px;
}

.live-clock button {
  margin-top: 6px;
  height: 28px;
  padding: 4px;
  width:80px;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color);
  margin-left: auto;
  background-color: var(--bg-color-secondary);
}

.warning-modal{
  height: 260px;
  width: 400px;
  padding: 10px;
  border-radius: 6px;
  background-color: #000000;
  margin: auto;
}

.warning-modal-div{
  display: flex;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #3F3F3F;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.warning-modal-div h6{
  margin-top: -10px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.warning-modal span{
  color: #f81111;
  margin-right: 10px;
}

.warning-modal button{
  margin-top: -20px;
  height: 30px;
  width:80px;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
}

.conn-modal{
  height: 40%;
  width: 40%;
  padding: 10px;
  border-radius: 6px;
  background-color: #000000;
  margin: auto;
}

.conn-modal-div{
  display: flex;
  flex-direction: column;
}

.conn-cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conn-btn{
  margin-left: auto;
  height: 24px;
  width:80px;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
}
.fault-modal{
  height: 240px;
  width: 280px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--bg-color);
  color: var(--text-color);;
  margin: auto;
}

.confimation-modal, .confimation-modal2{
    height: 200px;
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--bg-color-modal);
    margin: auto;
}

.confimation-modal-div, .confimation-modal2-div{
    display: flex;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color-secondary);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.confimation-modal2-div input{
  width: 80%;
  height: 10px;
  margin-top: -30px;
}

.confimation-modal-div h6{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.confimation-modal2-div h6{
  margin-top: -10px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.confimation-modal-btn-wrapper ,
.confimation-modal2-btn-wrapper {
    display: flex;
    width: 100%;
    margin-top: -4px;
    align-items: center;
    justify-content: space-evenly;
}

.confimation-modal-btn-wrapper button{
    height: 30px;
    width:80px;
    border-radius: 6px;
    border: 1px solid var(--text-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--bg-color-secondary);
}

.confimation-modal2-btn-wrapper button{
  height: 24px;
  width:80px;
  border-radius: 6px;
  border: 1px solid var(--text-color);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--bg-color-secondary);
}

.activate-suppressor{
  animation: blink-suppressor-border 0.5s infinite;
}

@keyframes blink-suppressor-border {
  0% {
    border-color: red;
  }
  50% {
    border-color: transparent; 
  }
  100% {
    border-color: red;
  }
}
  
  @keyframes blink-border {
    0% {
      border-color: #e4ff4b;
    }
    50% {
      border-color: transparent; 
    }
    100% {
      border-color: #e4ff4b;
    }
  }

  @keyframes blink-activesupp {
    0% {
      border-color: #13741e;
    }
    50% {
      border-color: transparent; 
    }
    100% {
      border-color: #13741e;
    }
  }

  .status-card-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .status-card-modal button {
    margin-left: auto;
    margin-bottom: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-modal{
    margin: auto;
    height: 260px;
    width: 300px;
    padding: 18px;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
  }

  .segment{
    height: auto;
  }

  #status-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #2f2e2e;
    height: 26px;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
  }

  #node-type-id{
    margin-top: -10%;
    padding: 0 10px;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-between;
    font-size: 18px
  }

  #sensor-name{
    display: flex;
    align-items: center;
  }

  #node-location{
    margin-top: -6%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    justify-content: space-between;
    font-size: 14px;
  }

  #node-location span{
    font-weight: 600;
  }

  #temp-battery{
    padding: 0 10px;
    display: flex;
    text-transform: capitalize;
    justify-content: space-evenly;
    font-size: 14px;
    background-color: #f4efef;
    color: #000000;
    border-radius: 6px;
    margin: 4px 10px;
  }

  #temp-battery div{
    display: flex;
    align-items: center;
    padding: 2px 0;
  }

  #last-update{
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
    font-size: 14px;
  }

  #last-update div {
    display: flex;
    flex-direction: column;
  }

  #refresh-alarm-btn{
    margin: 2px 0;
    display: flex;
    padding: 4px 0;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
  }

  #refresh-alarm-btn-both,  #faultReason {
    width: auto;
    border: none;
    border: 4px solid transparent;
    border-radius: 6px;
    height: 24px;
    padding: 0 10px;
    font-size: 12px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    cursor: pointer;
  }

  #refresh-alarm-btn-alert {
    width: auto;
    border: 4px solid var(--text-color);
    border-radius: 6px;
    height: 24px;
    padding: 0 10px;
    font-size: 12px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    animation: mute-blink-border 0.5s infinite;
    cursor: pointer;
  }

  @keyframes mute-blink-border {
    0% {
      border-color: var(--text-color);
    }
    50% {
      border-color: transparent; 
    }
    100% {
      border-color: var(--text-color);
    }
  }

  .dangertext{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    animation: text-blink 0.5s infinite;
  }

  .normaltext{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
  }
  
  @keyframes text-blink {
    0% {
      color: #000000;
    }
    50% {
      color: #ffffff; 
    }
    100% {
      color: #000000;
    }
  }

  .working-fine-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 250px;
    font-size: 24px;
    font-weight: 600;
  }