.dashboard-wrapper{
    min-height: 100vh;
    height: auto; 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #17153B;
    color: #fff;
}

.dashboard-main-screen{
    justify-content: space-between;
    display: flex;
    width: 98%;
}

.dashboard-header-cards{
    min-height: 100%;
    height: auto; 
    margin-top: 0;
    position: relative;
    width: 75%;
}

#dashboard-heading{
    position: absolute;
    top: 10px;
}

.dashboard-main-wrapper {
    display: flex;
    width: 98%;
    margin: 30px 0;
    justify-content: space-between;
    align-items: flex-start; 
}

.dashboard-alerts {
    width: 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.dashboard-middle {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 20px 0;
}
    .dashboard-content-summary{
        border-radius: 10px;
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: #ffffff;
    }

    .dashboard-content-summary h4{
        text-align: center;
        color:#17153B
    }

    .dashboard-content-alert{
        border-radius: 10px;
        width: 40%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: #ffffff;
    }

    .dashboard-content-alert h4{
        text-align: center;
        color:#17153B;
    }

    .dashboard-content-comm {
        width: 100%;
        height: 40%;
        border-radius: 10px;
        background-color: #433D8B;
    }

.imgWrapper{
    display: flex;
    height: 100%;
    margin-left: auto;
    width: 100px;
    align-items: center;
    justify-content: space-between;
} 

.img{
    margin-top: 6px;
    cursor: pointer;
    height: 26px;
    width: 26px;
}

.dashboard-sticky {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    z-index: 1000; 
}

.link{
    text-decoration: none;
}

.login{
    color: #fff;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}

.dashboard{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.login-container {
    min-height: 100vh;
    height: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #17153B;
}

.login-form {
    margin-top: 6%;
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%;
    font-size: 16px;
}


.login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #45a049; 
}

.main-dashboard-wrapper{
    padding: 15px 0;
    width: 90%;
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
}

.dashboard-cardata {
    padding: 15px 0;
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 65vh;
    position: relative;
}

.dashboard-cardata .scrollable-content {
    animation: scroll 180s linear forwards infinite;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fixed-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.settings-img{
    height: 26px;
    width: 26px;
}

.settings-login{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.settings-dashboard{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
}

.settings-imgWrapper{
    display: flex;
    align-items: center;
} 

.header-settings{
    padding: 0 20px;
    width: 96%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
