.dashboard-wrapper, .userManagement{
    min-height: 100vh;
    height: auto; 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.userManagement h4{
    font-size: 26px;
}


.dashboard-main-screen{
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding-inline: 30px;
    box-sizing: border-box;
}

.dashboard-header-cards{
    min-height: 100%;
    height: auto; 
    margin-top: 0;
    position: relative;
    width: 90%;
}

#dashboard-heading{
    font-size: 26px;
    margin-left: 10px;
    color: var(--text-color)
}

.dashboard-main-wrapper {
    display: flex;
    width: 98%;
    margin: 30px 0;
    justify-content: space-between;
    align-items: flex-start; 
}

.dashboard-alerts {
    width: 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}



.dashboard-middle {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 0px 0;
}
    .dashboard-content-summary{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;
        padding:0 0px;
        box-sizing: border-box;
        height: 190px;
        gap:20px
    }
    .dashboard-content-summary div{
        box-sizing: border-box;
        flex:1
    }

    .dashboard-content-summary .div-nested{
        margin-top: 16px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .dashboard-content-alert{
        border-radius: 10px;
        width: 40%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: #ffffff;
        margin-top: 4%;
    }

    .dashboard-content-alert h4{
        text-align: center;
        color:#1A1C1D;
    }

    .dashboard-content-comm {
        margin: 4% auto 0 auto;
        width: 100%;
        height: 40%;
        border-radius: 10px;
        background-color: var(--bg-color-secondary);
    }


.imgWrapper-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap:10px
}

.imgWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.img{
    margin-top: 6px;
    cursor: pointer;
    height: 26px;
    width: 26px;
}

.dashboard-sticky {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #B22222;
    text-align: center;
    z-index: 1000; 
    font-size: 14px;
}

.link{
    text-decoration: none;
    color: var(--text-color);
}

.login{
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
}

.dashboard{
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
}

.login-container {
    min-height: 100vh;
    height: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.login-form {
    margin-top: -130px;
    background-color: var(--bg-color-secondary); 
    color: var(--text-color);
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.input-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    margin-bottom: 5px;
    color: var(--text-color-secondary);
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 92%;
    font-size: 16px;
}


.login-button {
    background-color: #b7ff86;
    color: #3F3F3F;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #45a049; 
}

.main-dashboard-wrapper{
    width: 66%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
    position: relative;
}

.dashboard-cardata {
    padding: 15px 0;
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 65vh;
    position: relative;
}

.dashboard-cardata .scrollable-content {
    animation: scroll 180s linear forwards infinite;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fixed-content {
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

.settings-img{
    height: 26px;
    width: 26px;
}

.settings-login{
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
}

.settings-dashboard{
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
}

.settings-imgWrapper{
    display: flex;
    align-items: center;
} 

.header-settings{
    padding: 0 20px;
    width: 96%;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.link-style{
    text-decoration: none;
}

.h4{
    font-size: 26px;
    text-transform: capitalize;
    margin-top: 0px;
}
.specific-header-location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: -40px;
    height: 100px;
    width: 99%;
}

.indication{
    height: 55px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin : -5% 2% 0 auto;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    border: 6px solid #ffffff;
    border-radius: 6px;
    animation: blink-warning 0.5s infinite;
}

#download-report{
    height: 35px;
    font-size: 14px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin : -5% 2% 0 auto;
    border-radius: 6px;
}

@keyframes blink-warning {
    0% {
      border-color: var(--text-color-secondary);
    }
    50% {
      border-color: transparent; 
    }
    100% {
      border-color: var(--text-color-secondary);
    }
  }

.specific-device-header{
    display: flex;
    align-items: center;
    height: 40px;
}

#status-circle{
    height: 30px;
    width: 30px;
    margin-top: -30px;
    margin-right: 10px;
    border-radius: 50%;
}

.device-table{
    margin-bottom: 40px;
}

.specific-device-wrapper, .specific-deck-wrapper{
    min-height: 100vh;
    height: auto; 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.specific-device-imgWrapper{
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.alerts-chart-wrapper {
    display: flex;
    width: 99%;
    align-items:flex-start;
    justify-content: space-evenly;
    margin: 40px 0;
}

.specific-device-charts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #ffffff;
    margin: 10px 0;
}

.single-alert{
    margin-bottom: 10px;
}

.alert-logs{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 20px;
    height: auto;
}

.alert-span{
    font-size: 18px;
    margin-right: 10px;
}

.specific-device-mainheader{
    width: 100%;
    box-sizing: border-box;
    padding:30px;
    display: flex;
}

.hover-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap; 
  }
  
  .hover-container:hover .hover-text {
    visibility: visible;
  }
  
  .display-specific-comp-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30px;
    width: 100%;
  }

  .card-holder-specificdeck{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 96%;
    height: auto;
    padding: 0 30px;
  }

  .specific-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
  }

  .specific-card-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .affected-devices{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .affected-devices h4 {
    font-size: 18px;
  }

  .affected-devices .cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .suppressor-status{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }


  .access-code , .add-new-user, .reset-password{
    height: auto;
    width: 70%;
    font-size: 20px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }

  .access-code p, .add-new-user p, .reset-password p {
    font-size: 16px;
  }

  .access-code input {
    width: 132px;
    margin-bottom: 10px;
  }

  .access-code button {
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    width: 140px;
    cursor: pointer;
    height: 34px;
    border: 1px solid var(--text-color);
    border-radius: 6px;
  }

  .access-code div {
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-between;
  }

  .add-new-user input, .reset-password input {
    width: 240px;
    margin-bottom: 10px;
  }

  .add-new-user button, .reset-password button {
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    width: 140px;
    cursor: pointer;
    height: 34px;
    border: 1px solid var(--text-color);
    border-radius: 6px;
  }

